@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html{
    font-family: 'Poppins', sans-serif;
    background: #d0d0d0;
}

body{
    margin: 0;
    padding: 0;
}

.menu{
    display: none;
}

nav{
    display: flex;
    align-items: center;
    background: #3f3f3f;
    color: white;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    flex-flow: column;
}

.contenedor{
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    
}

.card{
    border: 1px solid gray;
    border-radius: 2%;
    padding: 10px;
    
}

.card > img{
    width: 300px;
    height: 200px;
}

a{
    text-decoration: none;
}

@media (max-width: 600px) {

    .card > img{
        width: 500px;
        height: 300px;
    }

    .card {
        border: 1px solid gray;
        border-radius: 2%;
        padding: 10px;
    }

    .menu{
        display: inline-block;
        border: solid 2px;
        padding: 3px;
    }
}