/* Crea un layout de tres columnas donde la primera columna ocupe un 20% del ancho total (con fondo rojo),
la segunda columna un 60% (con fondo verde) y la tercera columna un 20% (con fondo azul). Además,
asegúrate de que las tres columnas estén alineadas verticalmente en el centro del contenedor. */

div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: lightgray;
	width: 100%;
	height: 200px;
	
}

div > div {
	background-color: gray;
	height: 100px;
}

div div:first-child {
	flex-basis: 20%;
	background: red;
  }

div div:nth-child(2){
	flex-basis: 60;
	background: green;
}

div div:last-child{
	flex-basis: 20%;
	background: blue;
  }